body{
    background-color: rgb(172, 116, 48);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
button{
    margin: 10px;
}